@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
/*Primary*/
/*Neutral*/
header {
  background-color: #ebfbff;
  background-image: url(../images/bg-hero-mobile.svg);
  background-size: cover;
  background-position: center center;
  margin-left: 0;
  width: 100%;
  margin-bottom: 2rem;
}

header .navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem 4%;
}

header .navigation-bar img {
  width: 30%;
  margin: 2rem 0 2rem 0;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  padding: 1.5rem;
}

header .header .header-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .header-desc h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
}

header .header .header-desc p {
  text-align: center;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  header {
    background-image: url(../images/bg-hero-desktop.svg);
    margin-bottom: 3.1rem;
    padding: 2.5rem;
  }
  header .navigation-bar img {
    width: 15%;
    margin: 2rem 0 2rem 0;
  }
  header .navigation-bar .btn:hover {
    color: #808d99;
  }
  header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
    padding: 1.5rem;
  }
  header .header .header-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 4rem;
  }
  header .header .header-desc h1 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  header .header .header-desc p {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 1.8rem;
  }
  header .header .header-desc .btn-primary {
    padding: 1rem 2.5rem;
    margin-bottom: 0;
  }
  header .header .header-desc .btn-primary:hover {
    opacity: .7;
  }
  header .header .header-img img {
    width: 100%;
  }
}

.container {
  margin: 1.2rem;
}

.container .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: .9rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  margin-bottom: 3rem;
}

.container .box img {
  margin: 2rem;
  width: 80%;
}

.container .box .text h1 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
}

.container .box .text p {
  font-size: .9rem;
  text-align: center;
  color: #808d99;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) {
  .container {
    margin: 6rem;
  }
  .container .box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    border-radius: .9rem;
    margin: 2.5rem 0;
    padding: 3.7rem;
    grid-auto-flow: column;
  }
  .container .box img {
    margin-bottom: 0;
    width: 80%;
    margin: 2rem;
  }
  .container .box .text {
    -ms-grid-column: 1;
        grid-column-start: 1;
    padding: 3rem;
    margin-right: 1rem;
  }
  .container .box .text h1 {
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 1rem;
  }
  .container .box .text p {
    font-size: .8rem;
    text-align: left;
  }
  .container .flowing-conversations {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 2.5rem 0;
    padding: 3.7rem;
    grid-auto-flow: column;
  }
  .container .flowing-conversations img {
    margin-bottom: 3rem;
    width: 80%;
  }
  .container .flowing-conversations .text {
    -ms-grid-column: 2;
        grid-column-start: 2;
    padding: 3rem;
    margin-left: 1rem;
  }
  .container .flowing-conversations .text h1 {
    margin-bottom: 1rem;
  }
  .container .flowing-conversations .text p {
    padding: 0;
  }
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: -3.5rem;
  width: 90vw;
  margin: 0 auto;
  border-radius: .9rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 3rem;
  background-color: white;
}

.aside h2 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.aside button {
  margin-bottom: 0;
  padding: 1rem 2rem;
}

.aside button:hover {
  opacity: .7;
}

@media (min-width: 768px) {
  .aside {
    width: 50vw;
  }
  .aside h2 {
    font-size: 1.2rem;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 6rem 3rem;
  background-color: #00252e;
}

footer a {
  color: #ebfbff;
  text-decoration: none;
  font-size: .8rem;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

footer .header {
  margin-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

footer .header p {
  color: #ebfbff;
  font-size: .7rem;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

footer .header .location::before {
  content: url(../images/icon-location.svg);
  margin-right: .7rem;
}

footer .header .phone::before {
  content: url(../images/icon-phone.svg);
  margin-right: .7rem;
}

footer .header .email::before {
  content: url(../images/icon-email.svg);
  margin-right: .7rem;
}

footer .header img {
  width: 50%;
  margin-bottom: 1rem;
}

footer .footer-link1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

footer .footer-link1 a:hover {
  text-decoration: underline;
}

footer .footer-link2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  margin-top: .8rem;
}

footer .footer-link2 a:hover {
  text-decoration: underline;
}

footer .footer-social .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 4rem;
}

footer .footer-social .social-link i {
  border: 0.06rem solid #ebfbff;
  border-radius: 50%;
  color: #ebfbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: .6rem;
  height: 2.5rem;
  width: 2.5rem;
  text-decoration: none;
}

footer .footer-social .social-link i:hover {
  border: 0.06rem solid #ff52bf;
  color: #ff52bf;
}

footer .footer-social .copyright p {
  margin-top: 1.8rem;
  font-size: .7rem;
  text-align: center;
  color: #ebfbff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) {
  footer {
    -ms-grid-columns: 2fr 1fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 4rem 3rem;
  }
  footer .footer-link1 {
    margin-top: 2rem;
  }
  footer .footer-link2 {
    margin-top: 2rem;
  }
  footer .footer-social .social-link {
    margin-top: 4rem;
  }
  footer .footer-social .copyright p {
    margin-top: 8rem;
    font-size: .7rem;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.btn {
  border-radius: 50px;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: .7rem;
  font-weight: 700;
  padding: .5rem 1.5rem;
  cursor: pointer;
  -webkit-transition: all .1s;
  transition: all .1s;
  outline: none;
}

.btn-primary {
  background-color: #ff52bf;
  color: #ebfbff;
  padding: 1rem 1.5rem;
  margin-bottom: 2.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: #00252e;
  color: #fff;
}

.attribution a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .btn {
    font-size: 1rem;
    padding: 1rem 3.7rem;
  }
  .btn-primary {
    padding: 1rem 3.7rem;
    margin-bottom: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */